
# Project: https://supabase.com/dashboard/project/adjzxniigvrfmvtjumwp
NEXT_PUBLIC_SUPABASE_URL=https://adjzxniigvrfmvtjumwp.supabase.co
SUPABASE_URL=https://adjzxniigvrfmvtjumwp.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
MELBOURNE_DATA_BASE_URL=https://data.melbourne.vic.gov.au/api/v2/catalog/datasets
NEXT_PUBLIC_OSRM_URL=https://router.project-osrm.org
PTV_DEVID=
PTV_API_KEY=
